<h1>About</h1>
<p>This is an amazing site I made for weekend homework in Andrew's class. Check it out. Even make a blog if you want. Have a happy day.</p>
<p>Check it out.</p>
<p>Even make a blog if you want...</p>
<p>Have a happy day.</p>
